<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js To-Do List</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>To-Do List</h1>
        <input v-model="newTask" @keyup.enter="addTask"  placeholder="Add a task">
        <ul>
            <li v-for="(task, index) in tasks" :key="index">
                <input type="checkbox" v-model="task.completed">
                {{task.text}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTask: '',
                tasks: [
                { text: 'Buy groceries', completed: false },
                { text: 'Finish homework', completed: false },
                { text: 'Go for a run', completed: true }
                ]
            },
            methods: {
                addTask(){
                    if (this.newTask.trim() !== ''){
                        this.tasks.push({text: this.newTask, completed: false});
                        this.newTask = '';
                    }
                }
            },
        })
    </script>
</body>
</html>